{% extends 'base.html.twig' %}

{% block javascriptshead %} 
    <script type="text/javascript" src="http://svn.geoext.org/ext/3.4.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://svn.geoext.org/ext/3.4.1/ext-all.js"></script>
    {% javascripts '@AppBundle/Resources/public/js/homepage.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Список пользователей</h1>
                 <p><a href="{{ path('homepage2')}}">Варант на Vue.js</a></p>
            </div>

            <div id="status">   
                <div id="user-grid"></div> 
            </div> 
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
    <link rel="stylesheet" type="text/css" href="http://svn.geoext.org/ext/3.4.1/resources/css/ext-all.css" />
    
<style>
    .x-grid3-cell-inner.x-grid3-col-regions.x-unselectable {
        white-space: normal;
    }
</style>
{% endblock %}
